<form novalidate name="meetingForm" style="font-size: 16px; margin: 0 auto;margin-top:20px; width:300px;text-align: center;" ng-submit="">
    
    <div>
    <strong>Name:</strong><br>
    <input type="text" required ng-model="meeting.user"></div><br>
    <div>
    <strong>Starting at...</strong><br>
    <input type="text" id="startpicker" required ng-model="meeting.start"></div><br>
    <div>
    <strong>and Ending at...</strong><br>
    <input type="text" id="endpicker" ng-model="meeting.end" placeholder="{{meeting.start}}"></div><br>
    <strong>Info URL:</strong><br>
    <input type="text" required ng-model="meeting.url"></div>


    <div style="margin-top:30px;">
        <input class="btn btn-info" type="submit" ng-class="{ 'disabled': meetingForm.$invalid }">
    </div>

</form>

<script>
    $(function () {
        $("#startpicker").datepicker();
        $("#anim").on("change", function () {
            $("#startpicker").datepicker("option", "showAnim", $(this).val());
        });
        $("#endpicker").datepicker();
        $("#anim").on("change", function () {
            $("#endpicker").datepicker("option", "showAnim", $(this).val());
        });
    });
</script>