<form novalidate name="meetingForm" style="font-size: 16px; margin: 0 auto;margin-top:20px; width:300px;text-align: center;" ng-submit="submit()">
    
    <div>
    <strong>Name:</strong><br>
    <input name="name" type="text" required ng-model="meeting.user" ng-minlength="5" autocomplete=off><br>
    <small ng-hide="meetingForm.name.$valid" style="color: #f44242">Write a full name</small><small><br></small>
    </div>
    <div>
    <strong>Starting at...</strong><br>
    <input type="text" id="startpicker" required ng-model="meeting.start" autocomplete=off></div><br>
    <div>
    <strong>and Ending at...</strong><br>
    <input type="text" id="endpicker" ng-model="meeting.end" placeholder="{{meeting.start}}" autocomplete=off></div><br>
    <strong>Info URL:</strong><br>
    <div>
    <input name="url" type="url" required ng-model="meeting.url" autocomplete=off><br>
    <small ng-hide="meetingForm.url.$valid" style="color: #f44242">Don't forget the http://</small><small><br></small>
    </div>


    <div style="margin-top:30px;">
        <input class="btn btn-info" type="submit" ng-class="{ 'disabled': meetingForm.$invalid }">
    </div>

</form>

<script>
    $(function () {
        $("#startpicker").datepicker();
        $("#anim").on("change", function () {
            $("#startpicker").datepicker("option", "showAnim", $(this).val());
        });
        $("#endpicker").datepicker();
        $("#anim").on("change", function () {
            $("#endpicker").datepicker("option", "showAnim", $(this).val());
        });
    });
</script>